html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.action-buttons {
  letter-spacing: 1vw;
}

.gradientText {
  background: linear-gradient(to top, #5524a3 0%, #1d96a7 100%);
  line-height: 1.4;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#postTable > tbody > tr:hover {
  background-color: #1d97a754;
  cursor: pointer;
}